@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px){
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px){
        @content;
    }
}
// ////////////////////////////////////////////////////////////////////

body{
    font-family: serif;
    background-color: #f2f2f2;
    word-wrap: break-word;
    h1{
        font-weight: bold;
        font-size: 200%;
        border-bottom: solid 1px #222;
    }
}


.fade_off {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.fade_on {
    opacity: 1;
}
